
/* Estilo general */
body {
    background-color: #f2f9ff; /* Fondo azul muy claro */
    color: #333333; /* Texto gris oscuro para un contraste adecuado */
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilo del encabezado */
  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #003366; /* Azul oscuro profesional */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 51, 102, 0.2); /* Sombra en el texto para mayor profundidad */
  }
  
  /* Estilo del formulario */
  form {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border: 2px solid #003366; /* Borde azul oscuro */
    border-radius: 15px;
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 51, 102, 0.2); /* Sombra con un toque azul oscuro */
  }
  
  /* Grupos de formulario */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #003366; /* Azul oscuro */
  }
  
  /* Entradas de formulario */
  .form-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #0066cc; /* Borde azul más brillante */
    background-color: #e6f0ff; /* Fondo azul muy claro */
    color: #003366; /* Texto azul oscuro */
    font-size: 1.1rem;
    transition: border-color 0.3s ease;
  }
  
  /* Efecto hover en las entradas */
  .form-input:hover, .form-input:focus {
    border-color: #004080; /* Azul más oscuro en foco */
  }
  
  /* Botón de enviar */
  .submit-button, .logout-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 51, 102, 0.2); /* Sombra con un toque azul oscuro */
  }
  
  /* Botón de enviar */
  .submit-button {
    background-color: #003366; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
  }
  
  .submit-button:hover {
    background-color: #002244; /* Azul aún más oscuro */
    box-shadow: 0px 6px 12px rgba(0, 34, 68, 0.3); /* Sombra más pronunciada */
  }
  
  /* Botón de cerrar sesión */
  .logout-button {
    background-color: #0099cc; /* Azul más brillante */
    color: #ffffff; /* Texto blanco */
    margin-top: 10px; /* Espaciado entre los botones */
  }
  
  .logout-button:hover {
    background-color: #0077b3; /* Azul más oscuro */
    box-shadow: 0px 6px 12px rgba(0, 51, 102, 0.3); /* Sombra más pronunciada */
  }


  