<div class="container-navbar">
    <nav class="navbar container">
      <i class="fa-solid fa-bars" id="menu-toggle"></i>
      <ul class="menu">
        <li><a routerLink="/pantalla-principal-prov">Inicio</a></li>
        <li><a routerLink="/productos-prov">Productos</a></li>
      </ul>
    </nav>
  </div>
  
  <h2>Perfil de Usuario</h2>
  <form (ngSubmit)="updateUsuario()" #userForm="ngForm">
    <div>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required #nombre="ngModel">
      <div *ngIf="nombre.invalid && nombre.touched" class="error">
        Nombre es requerido.
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="usuario.email" name="email" required #email="ngModel">
      <div *ngIf="email.invalid && email.touched" class="error">
        Email es requerido y debe ser válido.
      </div>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="usuario.password" name="password" required #password="ngModel">
      <div *ngIf="password.invalid && password.touched" class="error">
        Contraseña es requerida.
      </div>
    </div>
    <!-- Agrega más campos según los atributos del modelo Usuario -->
    <button type="submit" [disabled]="userForm.invalid">Actualizar</button>
    <button type="button" (click)="onLogout()">Cerrar sesión</button>
  </form>
  
  