<app-admin-bar></app-admin-bar>


<!-- Contenedor de búsqueda colocado arriba de las cartas -->
<div class="search-container">
  <input [(ngModel)]="tipoUsuarioId" placeholder="Buscar por tipo de usuario" />
  <button (click)="searchByTipoUsuario()" class="btn-search">Buscar</button>
</div>
<div class="container-products">
  

  <!-- Cartas de los usuarios -->
  <div class="card-product" style="height: 670px;" *ngFor="let usuario of usuarios">
      <button class="btn btn-danger" (click)="deleteUsuario(usuario.id)">
          <i class="far fa-trash-alt"></i>
      </button>
      
      <div class="content-card-product">
          <h3>id: {{usuario.id}}</h3>
          <h3>nombre: {{usuario.nombre}}</h3>
          <h3>Email: {{usuario.email}}</h3>
          <h3>id_tipo_usuario: {{usuario.id_tipo_usuario}}</h3>
          <a href="" [routerLink]="['/edit-user', usuario.id]" class="btn btn-info btn-block">EDIT User</a>
      </div>
  </div>
</div>
