<div class="container-navbar">
    <nav class="navbar container">
        <i class="fa-solid fa-bars"></i>
        <ul class="menu">
            <li><a routerLink="/pantalla-principal-user">Inicio</a></li>
            <li><a routerLink="/productos-user">Productos</a></li>
        </ul>

    </nav>
</div>

<div class="container-items">
<div *ngFor="let item of items$ | async; let i = index">

        <div class="container-img">
            <img [src]="item.imagen" />
          
        <div class="content-card-product">
        
            <h3>{{item.nombre}}</h3>
            
            <p class="price">${{item.precio_unitario}} x {{ item.cantidad }}</p>
            
        </div>
        <button (click)="actualizarCantidad(item.id, item.cantidad - 1)">-</button>
        <button (click)="actualizarCantidad(item.id, item.cantidad + 1)">+</button>
        <button class="eliminar" (click)="eliminarDelCarrito(i)">Eliminar</button>
</div>

</div>

<div class="total">
    <h3>Total a Pagar: ${{ total }}</h3>
  </div>
  
<div class="vaciar">
<button class="vaciar-cart" (click)="vaciarCarrito()">Vaciar Carrito</button>
<button class="compra" (click)="procederCompraClient()">Proceder a la compra</button>
</div>
    


